#first{
    padding:20px;
    margin-top:5% ;
    clear:both;
    margin-left:40%;
    width:30%;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 75%);

}
.second{
    margin: 20px;
}
.third{
    margin-left:40px;
}
.boxes{
    display: inline-block;
  padding-right: 10px;
  white-space: nowrap;
}
.boxes input {
  vertical-align: middle;
}
.boxes label {
  vertical-align: middle;
}

body{
    background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
}